button {
  margin: 10px 0;
}

.hide-form {
  display: none;
}
.show-form {
  display: block;
}

.stock-data-table,
.stock-data-table tr,
.stock-data-table th,
.stock-data-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.stock-data-table th,
.stock-data-table td {
  padding: 5px 10px;
}